body {
    margin: 0;
    padding: 0;
}

.content-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}

.content-size-fitter {
    aspect-ratio: 0.5;
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
    background-color: green;
}

@media (min-aspect-ratio: 0.5) {
    .content-size-fitter {
        width: auto;
    }
}

@media (max-aspect-ratio: 0.5) {
    .content-size-fitter {
        height: auto;
    }
}