body {
  margin: 0;
  padding: 0;
}

.content-size-fitter {
  width: 100%;
  height: 100lvh;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: #848b79;
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
}

.content-container {
  aspect-ratio: 0.5;
  container-type: inline-size;
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  perspective: 1000px;
  background-color: #efefef;
  overflow: hidden;
  object-fit: cover;
}

@media (min-aspect-ratio: 0.5) {
  .content-container {
    width: auto;
  }
}

/* @media (max-aspect-ratio: 0.5) {
  .content-container {
    height: auto;
  }
} */

.scroll-area {
  width: 100%;
  height: 800lvh;
  align-items: flex-start;
}

section.spacer {
  min-height: 50lvh;
}

.layer {
  width: 250%;
  height: auto;
  transform-style: preserve-3d;
  position: absolute;
  will-change: transform;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.title-text {
  aspect-ratio: 1;
  text-align: center;
}

.title-text p {
  position: relative;
  font-size: 3cqi;
  top: 53%;
  font-weight: bold;
}
.wedding-name {
  font-size: 8cqi !important;
  margin-block-start: 0.2em;
  margin-block-end: 0.2em;
}