body {
  margin: 0;
  padding: 0;
}

@font-face {
    font-family: palmaton;
    src: url(../fonts/Palmaton.ttf);
}

.content-size-fitter {
  width: 100%;
  height: 100vh;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: #517470;
  will-change: transform;
}

.content-container {
  aspect-ratio: 0.5;
  container-type: inline-size;
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  perspective: 1000px;
  background-color: #eeefff;
  overflow: hidden;
  object-fit: cover;
}

@media (min-aspect-ratio: 0.5) {
  .content-container {
    width: auto;
  }
}

.cover {
  height: 100vh;
  width: min(100vw, 50vh);
  background-color: #caeec2;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title-container {
  container-type: size;
  height: 100%;
  width: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cover-frame{
  width: 95%;
  height: auto;
  position: absolute;
}
.cover-flower-1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 70%;
  height: auto;
}

.cover-flower-2 {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 40%;
  height: auto;
}

.scroll-area {
  width: 100%;
  height: 800lvh;
  align-items: flex-start;
}

section.spacer {
  min-height: 50lvh;
}

.layer {
  width: 220%;
  height: auto;
  transform-style: preserve-3d;
  position: absolute;
  will-change: transform;
}

.gradient-oval {
  width: 150%;
}

.oval-frame{
  width: 200%;
}

.layer img {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.title-text {
  aspect-ratio: 1;
  text-align: center;
}

.title-text p {
  position: relative;
  font-size: 2.5cqi;
  margin-top: 0.2em;
  margin-bottom: 0.2em;
  font-family: Inter, sans-serif;
}
.wedding-name {
  font-size: 15cqi !important;
  font-family: palmaton !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.wedding-name.bela{
  right: 50% !important;
  margin-top: 0.4em !important;
  margin-bottom: 0 !important;
}

.wedding-name.and{
  margin-top: -0.5em !important;
  margin-bottom: -0.5em !important;
}

.wedding-name.habib{
  left: 50% !important;
  margin-top: 0 !important;
  margin-bottom: 0.4em !important;
}