@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400");
@import url("https://fonts.googleapis.com/css2?family=Cormorant:wght@100;300;400");

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  
  --calculated-width: min(100vw, 50vh);
}

@font-face {
    font-family: palmaton;
    src: url(../fonts/Palmaton.ttf);
}

.content-size-fitter {
  width: 100%;
  height: 100vh;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: #517470;
  will-change: transform;
}

.content-container {
  aspect-ratio: 0.5;
  container-type: inline-size;
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  perspective: 1000px;
  background-color: #eeefff;
  overflow: hidden;
  object-fit: cover;
}

@media (min-aspect-ratio: 0.5) {
  .content-container {
    width: auto;
  }
}

.cover {
  height: 100vh;
  width: min(100vw, 50vh);
  background-color: #caeec2;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title-container {
  container-type: size;
  height: 100%;
  width: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title-content{
  opacity: 0;
}

.cover-frame{
  width: 95%;
  height: auto;
  position: absolute;
}
.cover-flower-1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 70%;
  height: auto;
}

.cover-flower-2 {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 40%;
  height: auto;
}

.scroll-area {
  width: 100%;
  height: 1200lvh;
  align-items: flex-start;
}

section.spacer {
  min-height: 50lvh;
}

.layer {
  width: 220%;
  height: auto;
  transform-style: preserve-3d;
  position: absolute;
  will-change: transform;
}

.gradient-oval {
  width: 150%;
}

.oval-frame{
  width: 200%;
}

.layer img {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.title-text {
  aspect-ratio: 1;
  text-align: center;
}

.title-text p {
  position: relative;
  font-size: 2.5cqi;
  margin-top: 0.2em;
  margin-bottom: 0.2em;
  font-family: Inter, sans-serif;
}
.wedding-name {
  font-size: 15cqi !important;
  font-family: palmaton !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.wedding-name.bela{
  right: 50% !important;
  margin-top: 0.4em !important;
  margin-bottom: 0 !important;
}

.wedding-name.and{
  margin-top: -0.5em !important;
  margin-bottom: -0.5em !important;
}

.wedding-name.habib{
  left: 50% !important;
  margin-top: 0 !important;
  margin-bottom: 0.4em !important;
}

.surah-text{
  width: 70%;
}

.surah-text p{
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  font-size: 4.5cqi;
  font-weight: 300;
  margin-top: 0.2em;
  margin-bottom: 0.2em;
  font-family: 'Montserrat', sans-serif;
}

.couple-info{
  font-family: 'Cormorant', serif;
  position: absolute;
  font-weight: 400;
  width: min(100vw, 50vh);
  height: 100%;
  container-type: size;
}

.bela-info{
  opacity: 0;
  font-size: 4cqi;
  top: 20%;
  right: 0%;
  width: 80%;
  padding-right: 10%;
  position: absolute;
  text-align: right;
}

.bela-info p{
  margin-top: 0.1em;
  margin-bottom: 0.1em;
}

.bela-info-name{
  font-family: 'palmaton';
  font-size: 10cqi;
  margin-top: 0.2em !important;
  margin-bottom: 0.5em !important;
}

.bela-info-detail{
  font-style: italic;
  font-weight: 300;
  font-size: 3cqi;
  margin-bottom: 0.7em !important;
}

.habib-info{
  opacity: 0;
  font-size: 4cqi;
  top: 20%;
  left: 0%;
  width: 80%;
  padding-left: 10%;
  position: absolute;
  text-align: left;
}

.habib-info p{
  margin-top: 0.1em;
  margin-bottom: 0.1em;
}

.habib-info-name{
  font-family: 'palmaton';
  font-size: 10cqi;
  margin-top: 0.2em !important;
  margin-bottom: 0em !important;
}

.habib-info-habib-y{
  font-family: 'palmaton';
  font-size: 10cqi;
  margin-top: -0.2em !important;
  margin-bottom: 0.5em !important;
}

.habib-info-detail{
  font-style: italic;
  font-weight: 300;
  font-size: 3cqi;
  margin-bottom: 0.7em !important;
}


.animated-wedding-info{
  font-family: 'Cormorant', serif;
  position: absolute;
  font-weight: 400;
  width: min(100vw, 50vh);
  height: 100%;
  container-type: size;
  display: flex;
  align-items: center;
  justify-content: center;
}

.awi-date{
  position: absolute;
  text-align: center;
  top: 18%;
  opacity: 0;
}

.awi-date-day{
  font-family: 'palmaton';
  font-size: 12cqi;
  font-weight: 400;
  margin-block-start: 0em !important;
  margin-block-end: 0em !important;
}

.awi-date-date{
  font-size: 5cqi;
  margin-block-start: 0.5em !important;
  margin-block-end: 0.5em !important;
}

.awi-place{
  position: absolute;
  text-align: center;
  top: 18%;
  opacity: 0;
}

.awi-place p{
  margin-block-start: 0em !important;
  margin-block-end: 0em !important;
}

.awi-place-at{
  font-size: 5cqi;
}

.awi-place-name{
  font-family: 'palmaton';
  font-size: 11cqi;
  font-weight: 400;
}

.awi-place-city{
  font-size: 4cqi;
  font-style: italic;
}